<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloService"
          class="com.example.testSpring.ioc.HelloService" init-method="init" depends-on="aService">
        <!-- additional collaborators and configuration for this bean go here -->
        <property name="aService" ref="aService"></property>
    </bean>

    <bean name="aService" class="com.example.testSpring.ioc.AService">
        <constructor-arg name="bService" ref="bService"></constructor-arg>
    </bean>
    <bean name="bService" class="com.example.testSpring.ioc.BService">
        <property name="helloService" ref="aService"></property>
    </bean>

    <!-- more bean definitions for data access objects go here -->

</beans>