<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/css/codemirror.css"/>
    <link rel="stylesheet" href="/css/mergely.css" media="all">
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <style>
        .layui-form-label {
            white-space: nowrap !important;
        }

        #mergely-splash {
            display: none;
        }

        #data {
            height: 500px;
            overflow: hidden;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/gitconfig/gitfile.js?v=1.0.1"></script>
<script type="text/javascript" src="/js/codemirror.js"></script>
<script type="text/javascript" src="/js/searchcursor.js"></script>
<script type="text/javascript" src="/js/mergely.js"></script>
<div style="margin: 10px;">
    <form id="search_from" class="layui-form">
        <div class="layui-col-md2">
            <div class="layui-form-item">
                <label class="layui-form-label">事业组：</label>
                <div class="layui-input-inline">
                    <select id="group" lay-filter="group" lay-search></select>

                </div>
            </div>
        </div>

        <div class="layui-col-md2">
            <div class="layui-form-item">
                <label class="layui-form-label">迭代：</label>
                <div class="layui-input-inline">
                    <select id="iteration" lay-filter="iteration" lay-search></select>

                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-input-inline">
                <input type="text" id="search_content" name="title" required lay-verify="required" placeholder="请输入标题"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <button type="submit" class="layui-btn  layui-btn-primary">
                    <i class="layui-icon"></i>搜索
                </button>
            </div>
        </div>
    </form>
</div>
<div class="layui-col-md12">
    <div class="layui-col-md4">
        <div class="layui-card" style="height: 100%">
            <div class="layui-card-header">配置文件</div>
            <div class="layui-card-body">
                <div id="data" class="demo">
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">提交信息：</label>
                <div class="layui-input-block">
                            <textarea name="title" id="commit_msg" placeholder="请输入内容" class="layui-textarea" required
                                      lay-verify="required" autocomplete="off"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-inline">
                <button class="layui-btn" id="push" lay-submit>发布变更</button>
            </div>
            <div class="layui-form-mid layui-word-aux">确认配置修改完成后,发布配置至测试环境服务器</div>
        </div>
    </div>
    <div class="layui-col-md8">
        <div class="layui-card" style="height: 702px">
            <input id="node_id" type="hidden">
            <input id="node_type" type="hidden">
            <div class="layui-card-header">比对区域 <span id="file_name"></span></div>
            <div class="layui-card-body">
                <div class="mergely-full-screen-8" style="height: 650px">
                    <div class="mergely-resizer" style="height: 650px">
                        <div id="mergely" style="height: 650px">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>